body{
  background-color: rgb(206, 206, 206);
}
h1{
  text-decoration: underline;
}
main{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  background-color: rgb(240, 240, 240);
}
input {
    border: 2px solid rgb(173, 173, 173);
    width: 5%;
    padding: 10px 5px;
    border-radius: 10px;
    outline: none;
    text-align: center;
  }
  input:focus {
    border: 2px solid rgb(151, 151, 232);
  }
  button {
    padding: 10px;
    border-radius: 10px;
    transition: background-Color 0.3s;
    cursor: pointer;
    border: none;
    background-color: rgb(162, 162, 162);
  }
  .input-container{
    text-align: center;
    margin-bottom: 15px;
  }
  #errorContainer {
    margin-top: 10px;
  }
  #errorMessage {
    background-color: red;
    color: white;
  }
  button:hover {
    background-color: rgb(151, 151, 232);
  }
